In [6]:
import pandas as pd
import datetime
from datetime import datetime as dt

In [7]:
FileName = 'SVTOL06_Agrupadas.csv'
deltaTime = datetime.timedelta(minutes = 10)
dataHora = pd.read_csv(FileName, sep=',', low_memory=False).drop([0, 1])
currentTime = datetime.datetime.strptime(dataHora.TIMESTAMP[2], "%Y-%m-%d %H:%M:%S")
newData = []
nanRow = [None]*(len(dataHora.columns) + 1)             
for row in dataHora.itertuples():
    rowTime = datetime.datetime.strptime(row[1], "%Y-%m-%d %H:%M:%S")
    while currentTime < rowTime:
        aux = nanRow.copy()
        aux[1] = currentTime
        newData.append(aux)
        currentTime += deltaTime
    newData.append(row)
    currentTime += deltaTime   
dataHora = pd.DataFrame (newData)
dataHoraReset = dataHora.drop(columns=['Index'])
dataHoraReset.to_csv(FileName.split('.')[0]+'_Ajustadas.csv', sep=',', index=False)

In [8]:
dataHoraReset.head()

,TIMESTAMP,RECORD,LoggerID,BattV_Min,VW_1_Min,VW_1_Max,VW_1_Avg,PA_uS_1_Min,PA_uS_1_Max,PA_uS_1_Avg,...,PotMatr_4_Avg,Temp_4_Min,Temp_4_Max,Temp_4_Avg,PotMatr_5_Min,PotMatr_5_Max,PotMatr_5_Avg,Temp_5_Min,Temp_5_Max,Temp_5_Avg
0,2016-10-10 09:40:00,0,SVTOL06,13.34,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1,2016-10-10 09:50:00,1,SVTOL06,13.34,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
2,2016-10-10 10:00:00,2,SVTOL06,13.34,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
3,2016-10-10 10:10:00,3,SVTOL06,13.33,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
4,2016-10-10 10:20:00,4,SVTOL06,13.32,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN